body {
  background-color: #ededed;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  cursor: default;
}

a {
  cursor: pointer;
}

div#page {
  margin: 0px auto;
}

p {
  padding-top: 2px;
  padding-bottom: 2px;
}

h1 {

}

h2 {

}
