@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Roboto:400,300,300italic,400italic,500,500italic,700);

//--- Path variables -----------------------------------------------------------
$main-path : "../";
//--- Color variables ----------------------------------------------------------
//----- Main Colors ------------------------------------------------------------
$magenta-dark  : rgba(143,   0,  52, 1.0);
$magenta-light : rgba(191,   0,  69, 1.0);
$grey-light    : rgba(240, 240, 240, 1.0);
$black-alpha50 : rgba( 15,  15,  15, 0.5);
$black-alpha20 : rgba( 15,  15,  15, 0.2);

//----- Text Colors ------------------------------------------------------------
$txt-white : rgba(250, 250, 250, 1.0);

//--- Font weight variables ----------------------------------------------------
$light  : 300;
$normal : 400;
$medium : 500;
$bold   : 700;

//--- Style definitions --------------------------------------------------------
html {
	font-family: 'Roboto', sans-serif;
}

body {
	padding-bottom: 0;
}

.navbar {
	background: $magenta-dark;
	border-bottom: 0;
	opacity: .90;
	color: $txt-white;
	.navbar-brand {
		color: $txt-white;
	}

	.navbar-nav
	{
		li a {
			border-bottom: 3px solid rgba(255, 255, 255, 0.0);
			-webkit-transition: all .5s ease-in-out;
			   -moz-transition: all .5s ease-in-out;
			    -ms-transition: all .5s ease-in-out;
			     -o-transition: all .5s ease-in-out;
			        transition: all .5s ease-in-out;
			font-size: 1.2em;
			color: $txt-white;
			&:hover {
				opacity: .45;
				border-bottom: 3px solid white;
				-webkit-transition: all .25s ease-in-out;
				   -moz-transition: all .25s ease-in-out;
				    -ms-transition: all .25s ease-in-out;
				     -o-transition: all .25s ease-in-out;
				        transition: all .25s ease-in-out;
			}
		}
	}
}


.page-header {
	margin: 0;
	height: 65em;
	background: $magenta-dark;
	background: url($main-path + "/img/bg.jpg");
	background-position: 0 0;
	background-size: 100% 100%;
	overflow: hidden;
	border: 0;
	
	.container {
		padding-top: 5em;

		h1, h2 {
			font-family: 'Roboto', sans-serif;
			color: $txt-white;
		}

		h1 {
			font-size: 4em;
			font-weight: $medium;
			text-shadow: 0 0.06em 0.1em $black-alpha50;
		}

		h2 {
			font-weight: $light;	
			opacity: .7;	
			text-shadow: 0 0.06em 0.1em $black-alpha50;
		}
	}
}

.jumbotron {
	background: #FFF;
	margin: 0;
	overflow: hidden;
	height: 40em;
	
	h1 {
		font-weight: 600;
		text-shadow: 0 0.06em 0.1em $black-alpha20;
	}

	h2 {
		text-shadow: 0 0.05em 0.3em $black-alpha20;
	}

	.media-object {
		margin: 2em;
	}

	.media-body {
		width: auto;
	}
}

.explanatory01 {
	background: rgba(242, 126, 126, 0.1);

	.pull-right {
		img {
			width: 90%;
		}
	}
}

.explanatory02 {
	background: rgba(234, 144, 129, 0.3);

	.pull-left {
		img {
			width: 90%;
			position: relative;
			top: 0;

		}
	}
}

.explanatory03 {
	background: rgba(198, 52, 87, 0.3);

	.pull-right {
		img {
			position: relative;
			top: -3em;
		}
	}	
}

.page-footer {
	height: 120px;
	position: absolute;
	margin: 0;
}

.badge {
	padding: 2em 2em 2em 0;
	background: transparent;

	img {
		height: 4em;
	}
} 


.frame_Nexus5 {
	$size : 22em;
	
	position: absolute;
	right: 10em;
	top: 12em;
	display: none;
	background: url("../img/phone_frames/nexus5.png");
	background-position: 0 0;
	background-size: 100% 100%;
	width: $size;
	height: $size * 1.981605;

	.frameScreenshot {
		width: $size * 0.90301;
		height: $size  * 1.8101265;

		img {
			padding-top: $size * 0.15;
			margin-left: $size * 0.046;
			width: inherit;
			height: inherit;
		}
	}
}

.frame_iPhone {
	$size : 20em;

	display: none;
	position: absolute;
	right: 30em;
	top: 16em;
	background: url("../img/phone_frames/iPhone5s.png");
	background-position: 0 0;
	background-size: 100% 100%;
	width: $size;
	height: $size * 2.117829;

	.frameScreenshot {
		width: $size * 0.8418604;
		height: $size  * 1.805710102;

		img {
			padding-top: $size * 0.308;
			margin-left: $size * 0.08;
			width: inherit;
			height: inherit;
		}
	}
}



@media screen and (max-width: 1200px) { 
	
	h2 {
		font-size: 1.0em;
	}

	.frame_iPhone {
		opacity: .0;
		z-index: -99;
	}

	.frame_Nexus5 {
		opacity: .0;
		z-index: -99;
	}

	.navbar {
		background: $magenta-dark;
		opacity: 1.0; 
	}

	.navbar-nav
	{
		li a {
			padding: 0.5em 2em;
		}
	}

	.page-header {
		padding-top: 5em;
	}

	.jumbotron {
		height: auto;
		.media-body {
			width: 100%;
		}
		img {
			display: none;
		}
	}

	.page-header {
		margin: 0;
		height: 35em;
	}


	.badge {
		padding: 1.5em 1em 0 0;
		background: transparent;
	} 

}